[submodule "themes/devise"]
	path = themes/devise
    url = git@github.com:zkosanovic/devise.git
[submodule "themes/plausible-hugo"]
	path = themes/plausible-hugo
	url = git@github.com:divinerites/plausible-hugo.git
